body {
  background: linear-gradient(rgba(85, 255, 0, 0.757), rgba(55, 0, 255, 0.086)),
    linear-gradient(rgba(55, 0, 255, 0.868), rgba(253, 1, 1, 0.095)),
    linear-gradient(rgb(255, 255, 255), rgba(255, 25, 0, 0.125));
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
header {
  background-color: #343233;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header-button {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.2s ease-out;
}

.header-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px #999;
}
.owned-stocks {
  width: 90%;
  height: 45%;
  text-align: left;
  padding: 10px;
  background-color: #f2efef;
  border-radius: 10px;
  box-shadow: 2px 2px 8px grey;
}
